
.product-img{
    width: 300px;
    object-fit: contain;

}
section img{
    height: 250px;
    width: 300px;
    
}
#photo-header{
    color: green;
    font-family: cursive;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px; 
    margin-top: 30px;
}
p{
    color: green;
    text-align: center;
    font-family: cursive;
    font-size: 15px;
    
}